Source: ultrabay-scripts
Section: admin
Priority: extra
Maintainer: Paul Seelig <wmlive@rumbero.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/wmlive/ultrabay-scripts

Package: ultrabay-scripts
Architecture: all
Recommends: tlp, acpi-call-source, acpi-call-tools, libnotify-bin, tp-smapi-dkms
Depends: ${misc:Depends}
Description: Management of ThinkPad UltraBay devices and batteries
 Scripts to safely dock and undock UltraBay devices of ThinkPads via
 udev rules. Also includes a script to switch discharge order to first
 drain the main battery in case an UltraBay battery has been inserted.
 .
 As Thinkpads with an Ivy Bridge processor (X230, T430, T530, etc.) are
 not supported by tp-smapi, the UltraBay battery feature will not work.
 This Thinkpad generation requires tpacpi-bat for battery management,
 but this has unfortunately not been packaged for Debian yet.
