#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

install: install-indep
install-indep: binary-indep
binary-indep:
	dh_testdir
	dh_testroot
	dh_installdirs usr/sbin usr/share/icons usr/share/ultrabay-scripts
	dh_install usr/sbin/ultrabay_{battery,eject,insert} usr/sbin
	dh_install usr/share/icons/* usr/share/icons
	dh_install usr/share/ultrabay-scripts/ultrabay_common usr/share/ultrabay-scripts
	dh_installdirs -a
	dh_installdocs
	dh_installman
	dh_installchangelogs
	dh_installinit --no-start
	dh_install -a
binary: binary-indep
